@{
    ViewData["Title"] = "Vinea";
}

<div class="text-center">
    <h1 class="teksti-1">Vinea</h1>
    <p class="teksti-2">Viinitarhasi Netissä</p>
    <img class="kuva" src="./Kuvat/Viinitarha.jpg"/>
</div>
    <script>
        let viesti = "Tervetuloa viinien maailmaan"
       document.getElementById("tervehdyskentta").innerText = viesti
        setTimeout(() => { document.getElementById("tervehdyskentta").innerText = ""}, 4000)
        </script>
