@{
    ViewData["Title"] = "Vinea";
}

<div class="text-center">
    <h1 class="teksti-1">Vinea</h1>
    <p class="teksti-2">Viinitarhasi Netissä</p>
    <img class="kuva" src="./Kuvat/Viinitarha.jpg"/>
</div>
