<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vinea</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ViinitDBMain.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/3a733a0bdc.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Etusivu</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="navigointipaneeli-viinit">
                            <a class="navigointipaneeli-viinit-otsikko" asp-area="" asp-controller="Viinit" asp-action="Index">Viinit</a>
                        </li>
                        <li class="navigointipaneeli-viinityypit">
                            <a class="navigointipaneeli-viinityypit-otsikko" asp-area="" asp-controller="Viinityypit" asp-action="Index">Viinityypit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Etusivu" asp-action="Index"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Etusivu" asp-action="Privacy"></a>
                        </li>
                        <form asp-action="Haku" asp-controller="Viinit">
                        <input name="nimi" class="etusivu-hae-lomake" placeholder="Hae viiniä nimellä"/>
                        <input class="etusivu-laheta-painike" type="submit" value="Hae"/> 
                        </form>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">

        <h1 id="tervehdyskentta"></h1>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="etusivu-alatunniste">
            &copy; 2023 - Vinea - <a asp-area="" asp-controller="Home" asp-action="Privacy">Tietosuojakäytäntö</a>
         <div class="sosiaalinenmedia-sailio">
                <div class="twitter-sailio">
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <div class="instagram-sailio">
                    <i class="fa-brands fa-instagram"></i>
                </div>
                <div class="facebook-sailio">
                    <i class="fa-brands fa-facebook"></i>
                </div>
                <div class="linkedin-sailio">
                    <i class="fa-brands fa-linkedin"></i>
                </div>
         </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        let viesti = "Tervetuloa viinien maailmaan"
       document.getElementById("tervehdyskentta").innerText = viesti
        setTimeout(() => { document.getElementById("tervehdyskentta").innerText = ""}, 4000)
        </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
